* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/mainApp/assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.errorContainer {
  max-width: 200px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: brown;
  color: bisque;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navProfile {
  background-color: rgb(21, 20, 20);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.navProfile h2 {
  color: wheat;
  letter-spacing: 1px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 3rem;
  border-radius: 50px;
}

.btnLogout {
  padding: 0.3rem;
}
