* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: url('/mainApp/assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.errorContainer {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  background-color: brown;
  color: bisque;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navProfile {
  background-color: rgb(21, 20, 20);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.navProfile h2 {
  color: wheat;
  letter-spacing: 1px;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 3rem;
  border-radius: 50px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  grid-gap: 20px;
}
.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.productImg {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productCaption {
  text-align: center;
  font-family: 'Space Mono', monospace;
  color: bisque;
  margin: 0.8rem 0;
}

.productPrice {
  color: bisque;
  font-family: 'Space Mono', monospace;
  margin: 0 0 0.8rem 0;
}
.btnLogout,
.btnOrder {
  padding: 0.3rem;
}

.buyButton,
.deleteButton {
  padding: 0 0.8rem;
}

.cart {
  position: relative;
  width: 3rem;
}

.cartContainer {
  display: flex;
}

.cart {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: red;
  text-align: center;
}

.btnsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
  background-color: black;
  color: bisque;
  font-family: 'Space Mono', monospace;
}

@media screen and (max-width: 780px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .productsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
