.section {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 2rem;
	gap: 2rem;
}

.productContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.productContainer h2,
.productContainer h3 {
	overflow-y: hidden;
}

.actions {
	display: flex;
	gap: 0.5rem;
}

.delete {
	background-color: rgba(220, 20, 60, 0.528);
}

@media screen and (min-width: 800px) {
	.section {
		grid-template-columns: repeat(3, 1fr);
	}
}
